<?xml version="1.0" encoding="utf-8" ?>
<DataProcessSystem>
	<!-- 文件打包 -->
	<FSFilePackager Name="FSFilePackager" Enabled="true" Input="F:\Switch2015\DataCopyService\FTP" Filter="*" IncludeFolders="true" Output="F:\Switch2015\DataCopyService\FTP\FailedPackage" Interval="300" PackageSize="500" MaxIntervalTimes="-1" SaveDay="30" />
	<!-- 文件删除 -->
	<Delete Directory="F:\Log2015\WifiServiceManager" SaveDay="2" />

</DataProcessSystem>